@import '~styles/settings/settings';

.formInput {
  position: relative;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 32px;
  &__input {
    height: 56px;
    min-width: 150px;
    background: #FFFFFF;
    border: 1px solid #C7CAE0;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.02), 0 8px 16px 0 rgba(80,84,212,0.08);
    border-radius: 4px;
    text-transform: none;
    padding-left: 50px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  &__simpleInput {
    height: 56px;
    min-width: 150px;
    background: #FFFFFF;
    border: 1px solid #C7CAE0;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.02), 0 8px 16px 0 rgba(80,84,212,0.08);
    border-radius: 4px;
    text-transform: none;
    padding-left: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  &__iconField {
    position: absolute;
    top: 14px;
    left: 14px;
    width: 28px;
    height: 28px;
    padding: 0 !important;
  }
  &__icon {
    display: inline-flex;
  }
}
