@import '~styles/settings/settings';

.pricingTitle {
  margin-top: 160px;
  margin-bottom: 64px;
  @include breakpoint(small only) {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  &__main {
    font-family: Helvetica;
    font-size: rem-calc(48px);
    color: #33217E;
    letter-spacing: 0;
    line-height: rem-calc(64px);
    padding-bottom: rem-calc(40px);
    @include breakpoint(small only) {
      padding-bottom: rem-calc(56px);
      font-size: rem-calc(26px);
      line-height: rem-calc(32px);
    }
  }
  &__free {
    font-family: Helvetica;
    font-size: rem-calc(18px);
    color: #4B4D83;
    letter-spacing: 0;
    line-height: rem-calc(32px);
    @include breakpoint(small only) {
      font-size: rem-calc(14px);
      line-height: rem-calc(24px);
    }
  }
}
