@import '~styles/settings/settings';

.aboutContact {
  max-width: 100%;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 160px;
  @include breakpoint(large) {
    height: 457px;
  }
  @include breakpoint(small only) {
    margin-bottom: 80px;
  }

  &__method {
    background-image: linear-gradient(-135deg, #A770EF 0%, #CF8BF3 100%);
  }
  &__content {
    max-width: 500px;
    @include breakpoint(large) {
      margin-left: auto;
      margin-right: 80px;
      margin-bottom: 60px;
    }
    @include breakpoint(medium) {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 60px;
    }
    @include breakpoint(small only) {
      max-width: 334px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 40px;
    }
  }

  &__field {
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 32px;
    padding-bottom: 24px;
  }

  &__value {
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 32px;
    padding-bottom: 24px;
    @include breakpoint(small only) {
      font-size: 14px;
      line-height: 24px;
    }
  }

  &__title {
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 32px;
    padding-top: 64px;
    padding-bottom: 32px;
    @include breakpoint(small only) {
      font-size: 20px;
      letter-spacing: 0;
      line-height: 28px;
      padding-top: 48px;
      padding-bottom: 36px;
    }
  }
  &__socialIcon {
    margin-right: 24px;
    @include breakpoint(small only) {
      margin-right: 16px;
    }
  }
  &__directContainer {
    padding-top: 80px;
    @include breakpoint(large) {
      max-width: 518px;
      padding-top: 165px;
    }
  }
  &__direct {
    @include breakpoint(large) {
      padding-left: 94px;
    }
  }
  &__directTitle {
    font-size: 24px;
    color: #33217E;
    letter-spacing: 0;
    line-height: 32px;
    padding-bottom: 32px;
  }
  &__button {
    padding-right: $rem-xxl !important;
    padding-left: $rem-xxl !important;
    font-family: Helvetica !important;
    font-size: rem-calc(18px) !important;
    font-weight: normal;
    color: #FFFFFF !important;
    letter-spacing: 0 !important;
    line-height: rem-calc(64px) !important;
    background-image: linear-gradient(-135deg, #6EDFFF 0%, #37C7FF 100%);
    @include breakpoint(small only) {
      font-size: rem-calc(18px) !important;
      letter-spacing: 1px !important;
      padding: 0px !important;
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 205px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
