@import '~styles/settings/settings';

.overviewFeature {
  max-width: 1248px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 160px;

  &__title {
    font-size: 40px;
    color: #33217E;
    letter-spacing: 0;
    line-height: 48px;
    padding-bottom: 24px;
    @include breakpoint(medium only) {
      text-align: center;
      padding-bottom: 40px;
    }
    @include breakpoint(small only) {
      font-size: 26px;
      line-height: 32px;
      padding-bottom: 40px;
      text-align: center;
    }
  }
  &__content {
    font-size: 18px;
    color: #3D3E6F;
    letter-spacing: 0;
    line-height: 32px;
    padding-bottom: 32px;
    @include breakpoint(small only) {
      font-size: 14px;
      line-height: 24px;
    }
  }
  &__stepLink {
    font-size: 16px;
    font-weight: normal;
    color: #19ACE6;
    letter-spacing: 0;
    line-height: 32px;
    text-decoration: none;
    text-transform: inherit;
    @include breakpoint(small only) {
      font-size: rem-calc(14px);
      line-height: rem-calc(24px);
      padding-left: 0;
    }
    &--arrow {
      padding-right: rem-calc(8px);
    }
  }
  &__container1 {
    @include breakpoint(large) {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
    @include breakpoint(medium only) {
      max-width: 609px;
      margin-left: auto;
      margin-right: auto;
    }
    @include breakpoint(small only) {
      padding-left: 32px;
      padding-right: 32px;
    }
  }
  &__container2 {
    @include breakpoint(large){
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
    @include breakpoint(medium only) {
      max-width: 609px;
      margin-left: auto;
      margin-right: auto;
    }
    @include breakpoint(small only) {
      padding-left: 32px;
      padding-right: 32px;
    }
  }
  &__feature1 {
    margin-bottom: 106px;
    margin-left: 0px;
    margin-right: 0px;
    @include breakpoint(small only) {
      margin-bottom: 80px;
    }
    @include breakpoint(medium only) {
      margin-bottom: 160px;
    }
  }
  &__feature2 {
    margin-left: 0px;
    margin-right: 0px;
  }
  &__image {
    padding: 0px;
    @include breakpoint(small only) {

    }
    @include breakpoint(medium only) {
      padding-bottom: 40px;
    }
  }
}
