@import '~styles/settings/settings';

.getstarted {
  &--background {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="2560" height="352" style="background:#fff" viewBox="0 0 2560 352">  <defs>    <linearGradient id="l_get-a" x1="50%" x2="50%" y1="0%" y2="100%">      <stop offset="0%" stop-color="#FCFCFF"/>      <stop offset="100%" stop-color="#F8F8FF"/>    </linearGradient>  </defs>  <polygon fill="url(#l_get-a)" fill-rule="evenodd" points="0 3439.2 3844.12 1219.8 3844.12 0 0 2219.4" transform="translate(-642 -2726)"/></svg>');
  }
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  height: 352px;
  align-items: center;
  justify-content: center;

  &__title {
    font-family: Helvetica;
    font-size: rem-calc(40px);
    color: #33217E;
    letter-spacing: 0;
    line-height: rem-calc(48px);
    margin-bottom: rem-calc(16);
    @include breakpoint(small only) {
      font-size: rem-calc(20px);
      line-height: rem-calc(28px);
    }
  }

  &__subTitle {
    font-family: Helvetica;
    font-size: rem-calc(18px);
    color: #3D3E6F;
    letter-spacing: 0;
    line-height: rem-calc(32px);
    margin-bottom: rem-calc(45);
    @include breakpoint(small only) {
      font-size: rem-calc(14px);
      line-height: rem-calc(24px);
      padding-left: rem-calc(60px);
      padding-right: rem-calc(60px);
    }
  }

  &__button {
    padding-right: $rem-xxl !important;
    padding-left: $rem-xxl !important;
    font-family: Helvetica !important;
    font-size: rem-calc(18px) !important;
    font-weight: normal;
    color: #FFFFFF !important;
    letter-spacing: 0 !important;
    line-height: rem-calc(64px) !important;
    background-image: linear-gradient(-135deg, #6EDFFF 0%, #37C7FF 100%);
    @include breakpoint(small only) {
      font-size: rem-calc(18px) !important;
      letter-spacing: 1px !important;
      padding: 0px !important;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__request {
    font-family: Helvetica !important;
    font-weight: normal;
    font-size: rem-calc(18px) !important;
    color: #19ACE6 !important;
    letter-spacing: 0 !important;
    line-height: rem-calc(32px) !important;
    text-transform: inherit;
    @include breakpoint(small only) {
      font-size: rem-calc(14px) !important;
      line-height: rem-calc(24px) !important;
      text-decoration: none;
    }
  }

  &__or{
    font-size: rem-calc(18px);
    color: #B0B1D2;
    letter-spacing: 0;
    line-height: rem-calc(32px);
    @include breakpoint(small only) {
      font-size: rem-calc(14px);
      line-height: rem-calc(24px);
      justify-content: center;
      padding-top: rem-calc(16px);
      padding-bottom: rem-calc(8px);
      margin-bottom: 0;
    }
  }

  &__buttons {
    @include breakpoint(small only) {
      max-width: 205px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
