@import '~styles/settings/settings';

.requestDemo {
  margin-top: 160px;
  @include breakpoint(small only) {
    margin-top: 64px;
  }

  &__title {
    font-size: 40px;
    color: #33217E;
    letter-spacing: 0;
    line-height: 48px;
    padding-bottom: 24px;
    @include breakpoint(small only) {
      font-size: 20px;
      line-height: 28px;
      padding-bottom: 8px;
    }
  }
  &__subTitle {
    font-size: 18px;
    color: #4B4D83;
    letter-spacing: 0;
    line-height: 32px;
    padding-bottom: 64px;
    @include breakpoint(small only) {
      font-size: 14px;
      line-height: 24px;
    }
  }
  &__form {
    padding-bottom: 8px;
    @include breakpoint(large) {
      max-width: 820px;
    }
    @include breakpoint(medium only) {
      padding-left: 85px;
      padding-right: 85px;
    }
    @include breakpoint(small only) {
      padding-left: 32px;
      padding-right: 32px;
    }
  }
  &__field {
    padding-bottom: 24px;
  }
  &__schedule {
    padding-top: 8px;
  }
  &__seperator {
    height: 1px;
    background: #E4E6FF;
    margin-top: 160px;

    @include breakpoint(large) {
      max-width: 1248px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 160px;
    }
    @include breakpoint(medium only) {
      margin-left: 32px;
      margin-right: 32px;
      margin-bottom: 64px;
    }
    @include breakpoint(small only) {
      margin-left: 32px;
      margin-right: 32px;
      margin-bottom: 64px;
    }
  }
}
